<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de notas de projetos</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in projectNotes">
                                <td>{{o.title}}</td>
                                <td>{{o.notes | limitTo: 45}}...</td>
                                <td>
                                    <a ng-href="#/projects/{{o.project_id}}/notes/{{o.id}}/edit">Editar</a> |
                                    <a ng-href="#/projects/{{o.project_id}}/notes/{{o.id}}/remove">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>